*{
    background-color: #E8E5E0;
    padding: 0%;
    margin: 0%;
}

.Tela{
    padding: 0%;
    margin: 0%;
}
.navbar{
    background-color: #392620;
    padding: 75px;
    font-size: 25px;
    color: white

    
}

.Conteudo{
    height: 150px;
    width: 200px;
}

.Rodape{
    padding: 20%;
    align-items: baseline;
}

