body{
    background-color: #E8E5E0;
    font-family: 'Montserrat';
    margin: 60px;
    padding: 0;
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #E8E5E0;

}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    background-color: #544541;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgb(0,0,0,0.4);

}

.user-description{
    width: 100%;
    height: 200px;
    display: flex;
}

.foto-area{
    width: 150px;
    height: 150px;
}

.foto{
    width: 150px;
    height: 150px;
}

.foto img{
    width: 150px;
    height: 150px;
}

.user-name{
    display: flex;
    justify-content: center;
    flex: 1;
}

.user-name .user-title h1{
    font-size: 35px;
    text-transform: uppercase;
}

.user-name .user-title h4{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.user-data{
    margin-top: 10px;
    display: block;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex: 1;
}

.info p{
    background-color: #E8E5E0;
}
