
*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}


/* Carrosel interativo e com settimeout */

.carrossel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .carrossel-img {
    width: 100%;
    height: 100%;
    display: none;
  }

  .carrossel-img.active {
    display: block;
  }

  .carrossel-seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  .carrossel-seta.left {
    left: 10px;
  }

  .carrossel-seta.right {
    right: 10px;
  }

/* Produtos catalogo */

.produtos{
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.produtos1{
    width: 300px;
    height: 300px;
    border-radius: 15px; 
}

.produtos2{
    width: 300px;
    height: 300px;
    border-radius: 15px;
  
}

.produtos3{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    
}

.produtos img{
    height: 98%;
    width: 98%;
    border-radius: 25px;
}

/* Promoções com efeito zoom hover */

.promocoes{
    width: 100%;
    height: 220px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagemp{
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}

.imagemp a:hover{
    transform: scale(1.3);
    transition: all 0.4s;
    z-index: 10;
}

.imagemp a img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: blue;
}

.imagemp a img:hover{
    box-shadow: 10px 10px 10px lightgray;
}



