@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  background-color: antiquewhite;

}

/* define o container que abrange todos os products */
.products{
  margin-top: 30px;
  margin-left: 90px;
  margin-bottom: 30px;
}

/* layout dos produtos */
.product {
  border: 1px solid gray;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
}

.product img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.product .name {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.product .price {
  margin-bottom: 10px;
}

.product button{
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
}
/* css do carrinho */
.cart {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
}

.finalizar{
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
}

.cart .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart .item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart .item .info {
  flex-grow: 1;
}

.cart .item .quantity {
  display: flex;
  align-items: center;
}

.cart .item .quantity input {
  width: 40px;
  text-align: center;
}

.cart .item .remove {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.cart .total {
  font-weight: bold;
  margin-top: 10px;
}

/* css do alerta */
.alert {
  display: none;
  margin-bottom: 10px;
  color: red;
}

/* css do respectivo popup */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.popup-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  z-index: 10000;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #544541;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #544541;
}

button{
  cursor: pointer;
}

/* Popup-pagamento */

.payment-popup {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  z-index: 10000;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.payment-popup h2 {
  margin-top: 0;
}

.payment-popup button {
  padding: 10px 20px;
  background-color: #544541;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.payment-popup button:hover {
  background-color: #544541;
}

/* CSS msg */
.message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.item-add{
  margin-top: 10px; 
  text-align: center; 
  background-color: #544541;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
  justify-self: center;
  color: #fff;
  width: 100%;
}

.popup-cardpay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-submit {
  margin-top: 20px;
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
