*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}


/* css do texto */
.texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 30px;
}

.texto h1{
    margin-top: 15px;
    margin-left: 35px;
    font-size: 40px;
    text-shadow: 0px 1px 1px #3D2F2B;
    
}

.texto p{
    width: 800px;
    font-size:16px;
    margin-top: 20px;
    font-style: italic;
    color: #000;
}

.conteudo{
    display: flex;
    justify-content: center;
}


/* css da imagem */
.banner{
   justify-content: center;
   align-items: center;
}

.banner img{
    width: 440px;
    padding: 30px;
    object-fit: contain;
}

.bannerimg{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

