* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
    padding: 0;
    background-color: #E8E5E0;
}

.container {
    background-color: #3D2F2B;
    display: flex;
    height: 150px;
}

.logo {
    padding: 1px;
    width: 22.4%;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    width: 278px;
    height: 150px;
}

.busca {
    display: flex;
    justify-content: center;
    width: 26%;
}

.busca input {
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 90px;
    width: 290px;
    height: 20px;
    padding: 5px;
}

.options {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.options ul {
    display: flex;
    list-style-type: none;
}

.options ul li {
    margin-right: 70px;
}



.lista a {
    text-decoration: none;
    color: #F6F3EE;
}

.lista a:hover {
    margin-bottom: 4px;
    border-bottom: 1px solid #FFFFFF;


}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 15px;
}


.conta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 10px;
}