*{
    font-family: 'Montserrat';
}
body{
    margin: 0;
    padding: 0;
    background-color: #E8E5E0;
}

.container{
    background-color: #3D2F2B;
    display: flex;
    height: 150px;
}

.logo{
    padding: 1px;
    width: 22.4%;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    width: 278px;
    height: 150px;
}

.busca{
    display: flex;
    justify-content: center;
    width: 26%;
}
.busca input{
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 90px;
    width: 290px;
    height: 20px;
    padding: 5px;
}

.options{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.options ul{
    display: flex;
    list-style-type: none;
}

.options ul li{
    margin-right: 70px;
}

.lista a{
    text-decoration: none;
    color: #F6F3EE;
}

.lista a:hover{
    margin-bottom: 4px;
    border-bottom: 1px solid #FFFFFF;
    padding: 7px;
}

.carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 10px;
}


.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 10px;
}

.imagecl{
    height: 60px;
    width: 60px;
    padding: 10px;
}

.imagemca{
    width: 1200px;
    background-color: red;
}

.imagens{
    background-color: green;
    width: 20%;
}

.carrossel {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 0;
}

.slides {
    width: 400%;
    height: 250px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 400px;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.produtos{
    width: 100%;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.produtos1{
    width: 300px;
    height: 300px;
    border: 2px solid #000100;
    border-radius: 15px;
    background-color: green;
}

.produtos2{
    width: 300px;
    height: 300px;
    border: 2px solid #000100;
    border-radius: 15px;
    background-color: blue;
}

.produtos3{
    width: 300px;
    height: 300px;
    border: 2px solid #000100;
    border-radius: 15px;
    background-color: brown;
}
