* {
    margin: 0;
    padding: 0;
}

body {
    background: #E8E5E0;
    height: 200vh;
}

header {
    background-color: #3D2F2B;
    width: 100%;
    height: 22vh;
    position: fixed;
    display: flex;
}

.logo {
    height: 15vh;
    width: 25vh;
    justify-content: center;
}

.busca {
    background-color: aliceblue;
    border: 1vh solid rgb(255, 255, 255, .1);
    border-radius: 20vh;
    color: #8795a2;
    height: 2vh;
    width: 50vh;
    padding: 1.5vh 1vh 1vh 1vh;
    margin-top: 6%;
}

.btn-buscar-top {
    background: url(https://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    width: 10vh;
    height: 10vh;
    border: none;
    margin-top: 14vh;
    transform: translateX(-50%);
}

.lista {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 2vh 2vh;
    transition: 0.5s;
    text-align: center;
}

li {
    display: inline;
    margin: 10px;
}

ul {
    margin-top: 8%;
    width: 43%;
    transform: translateX(10%);
}

.lista:hover {
    letter-spacing: 0.20em;
}

.lista::before {
    content: '';
    position: absolute;
    inset: 2px;
}

.lista span {
    position: relative;
    z-index: 1;
}

.Pascoa {
    margin-top: 13%;
    margin-left: 5%;
    height: 55vh;
    width: 185vh;
    justify-content: center;
}


.botao img{
    transform: translateX(30%);
    margin-left: -150px;
}

.botao{
    display: flex;
}

.conta{
    margin-top: 8px;
}




