@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #E8E5E0;
}

.img-item{
    border: #3D2F2B 1px solid;
    border-radius: 10px;
    height: 250px;
}

.container{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
/* SECCION container DE ITEMS */
.container .container-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.container .container-items .item{
    max-width: 220px;
    height: 100%;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.container .container-items .item .img-item{
    width: 100%;
}
.container .container-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.container .container-items .item .titulo-item{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.titulo-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.container .container-items .item .preco-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.container .container-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}



  .navbar{
    background-color: #3D2F2B;
    height: 150px;
}

.logo-pesquisa{
    width: 100%;
    height: 70%;
    display: flex;
}

.logo{
    width: 180px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.logo img{
    width: 180px;
    height: 105px;
}

.logo-pesquisa .pesquisa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.logo-pesquisa .pesquisa input{
    height: 30px;
    width: 200px;
    padding: 15px;
    background-color: #3D2F2B;
}

.logo-pesquisa .pesquisa label{
    margin-right: 20px;
    padding-bottom: 9px;
    width: 200px;
    border-bottom: 2px solid #FFF;
    background-color: #3D2F2B;

}

.logo-pesquisa .pesquisa input::placeholder{
    color: #FFF;
    background-color: #3D2F2B;
}



.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #FFF;
}

.options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    width: 750px;
}

.car-conta{
    height: 45px;
    width: 750px;
    display: flex;
    justify-content: flex-end;
    
}

.conta{
    height: 45px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conta a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #000;
}

.conta img{
    margin-right: 10px;
    height: 25px;
    overflow: cover;
}

.car{
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    
}

.car img{
    height: 30px;
    overflow: cover;
}

.menu .options ul, .menu .options li{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.menu .options li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 500;

}


.imagemca{
    width: 1200px;
    background-color: red;
}

.imagens{
    background-color: green;
    width: 20%;
}